@using Microsoft.AspNetCore.Authorization
@using ProjectManager.Components.Modals

@rendermode InteractiveServer

@attribute [Authorize]
@page "/projects"

@inject NavigationManager NavigationManager

<h2>Projects</h2>

@if (_loading)
{
    <p>Loading...</p>
}
else
{
    @* <div class="mb-4"> *@
    @*     <input class="form-control" placeholder="Project name" @oninput="NewProjectNameOnInput"/> *@
    @*     <textarea class="form-control mt-2" placeholder="Description" @bind="_newProjectDesc"></textarea> *@
    @*     <button class="btn btn-primary mt-2" *@
    @*             @onclick="CreateProject" *@
    @*             disabled="@(string.IsNullOrWhiteSpace(_newProjectName) || _newProjectName.Length < 2)"> *@
    @*         Create project *@
    @*     </button> *@
    @* *@
    @*     @if (!string.IsNullOrWhiteSpace(_error)) *@
    @*     { *@
    @*         <div class="text-danger mt-2">@_error</div> *@
    @*     } *@
    @* </div> *@

    @if (_projects?.Count == 0)
    {
        <p>There are no projects yet.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var project in _projects!)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>@project.Name</strong>
                        <div class="text-muted small">@project.Description</div>
                    </div>
                <button class="btn btn-outline-secondary" @onclick="@(() => NavigationManager.NavigateTo($"/projects/{project.Id}"))">Open</button>
                </li>
            }
        </ul>
    }
}

<NewProjectModal @ref="_newProjectModal" OnModalActionSucceeded="OnProjectCreated"/>

@code {
    
}
